<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "css/index.css" />
  </head>

  <body>
      <div class="sketch-holder" id="sketch-holder"></div>
      <script src="js/sketch-playground.js"></script>
      <script src="js/Conway_GoL_Objects/Cell.js"></script>
      <script src="js/Conway_GoL_Objects/Grid.js"></script>
      <script src="js/UI_Objects/UIElement.js"></script>
      <script src="js/UI_Objects/Container.js"></script>
      <script src="js/UI_Objects/Slider.js"></script>
      <script src="js/UI_Objects/Button.js"></script>
  </body>
</html>
